.resetPassword {
    /* height: 600px; */
    width: 90%;
    margin: 0 auto;
    padding-top: 50px;
    background: white;
    background-size: cover;
    color: white;
}
.resetPassword>form {
    width: 600px;
    display: inline-block;
}
.resetPassword>form .ant-form-item-control-wrapper #birthday{
    width: 100%;
}
.resetPassword>form .ant-form-item-control-wrapper #birthday input{
    text-align: center;
}
.resetPassword>form .ant-form-item:last-child .ant-form-item-control-wrapper .ant-form-item-control button{
    margin: 0 30px;
}