.registContainer{
    height: 600px;
    width: 90%;
    margin: 0 auto;
    padding-top: 50px;
    background: white;
    background-size: cover;
    color: white;
}
.registContainer>form {
    width: 600px;
    display: inline-block;
}
.registContainer>form>.ant-form-item:last-child>.ant-form-item-control-wrapper{
    width: 100%;
}
.registContainer>form>.ant-form-item>.ant-form-item-control-wrapper>.ant-form-item-control>.ant-form-item-children>button{
    width: 28%;
    margin: 0 2%;
}