.index{
    min-height: 600px;
    padding-top: 30px;
}
.index .left{
    /* background: white; */
}
.index .right .ant-list .ant-list-item {
    margin: 5px;
}
.index .left .clock {
    height: 150px;
}
.index .ant-carousel div img{
    width: 280px;
    text-align: center;
    display: inline-block;
    margin: 0 auto;
}