.menu_list{
    /* background: green; */
    position: fixed;
    top: 0;
    z-index: 999;
    width: 100%;
    font-size: 16px;
    background: white;
    box-shadow: 0.5px 0.5px 0.5px 0.5px #b6b6b6;
    height: 70px;
}
.menu_list ul{
    height: 70px;
}
.menu_list ul li{
    list-style: none;
    display: inline-block;
    width: 16%;
    text-align: center;
    height: 50px;
    line-height: 50px;
    margin-top: 10px;
}
.menu_list ul li a{
    color: black;
}
.menu_list ul li a.index_menu_li_Color{
    color: #1890ff;
}
.dropdown-menu-item ul li{
    width: 100px;
    text-align: center;
}