<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.sickness.dao.UserSickMapper" >
  <resultMap id="BaseResultMap" type="com.sickness.entity.UserSick" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="sick_id" property="sickId" jdbcType="INTEGER" />
    <result column="status" property="status" jdbcType="INTEGER" />
    <result column="user_id" property="userId" jdbcType="INTEGER" />
    <result column="record" property="record" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, sick_id, status, user_id, record
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from t_user_sick
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from t_user_sick
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.sickness.entity.UserSick" >
    insert into t_user_sick (id, sick_id, status, 
      user_id, record)
    values (#{id,jdbcType=INTEGER}, #{sickId,jdbcType=INTEGER}, #{status,jdbcType=INTEGER}, 
      #{userId,jdbcType=INTEGER}, #{record,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.sickness.entity.UserSick" >
    insert into t_user_sick
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="sickId != null" >
        sick_id,
      </if>
      <if test="status != null" >
        status,
      </if>
      <if test="userId != null" >
        user_id,
      </if>
      <if test="record != null" >
        record,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="sickId != null" >
        #{sickId,jdbcType=INTEGER},
      </if>
      <if test="status != null" >
        #{status,jdbcType=INTEGER},
      </if>
      <if test="userId != null" >
        #{userId,jdbcType=INTEGER},
      </if>
      <if test="record != null" >
        #{record,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.sickness.entity.UserSick" >
    update t_user_sick
    <set >
      <if test="sickId != null" >
        sick_id = #{sickId,jdbcType=INTEGER},
      </if>
      <if test="status != null" >
        status = #{status,jdbcType=INTEGER},
      </if>
      <if test="userId != null" >
        user_id = #{userId,jdbcType=INTEGER},
      </if>
      <if test="record != null" >
        record = #{record,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.sickness.entity.UserSick" >
    update t_user_sick
    set sick_id = #{sickId,jdbcType=INTEGER},
      status = #{status,jdbcType=INTEGER},
      user_id = #{userId,jdbcType=INTEGER},
      record = #{record,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>